/* Color Pallete -
   Dark Green: #283618,  
   Olive Green: #606C38, 
   Cream: #FEFAE0 
   Beige: #DDA15E 
   Burnt Orange: #BC6C25 
   Red: #89023E 
   Powder Blue: #A7BBEC */

/* Styles for entire page / CSS reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Styles for body */
body {
    color: #FEFAE0;
    display: grid;
    /* Header, main content, and footer */
    grid-template-rows: auto 1fr auto; 
    min-height: 100vh; 
    /* Font family */
    font-family: "Noto serif", serif;
}

/* Styles for header */
header {
    position: sticky;
    top: -30px;
    background-color: #283618;
    padding: 35px;
    display: grid;
    /* Creates two columns */
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

/* Styles for header h1 */
header h1 {
    font-size: 3.25em;
    color: #FEFAE0;
    text-align: center;
}


/* Gnome logo styles */
.logo {
    width: 1.5em;
    height: auto;
}

/* Set the hamburger icon to be visible initially */
.bar {
    display: block;
}

/* Default mobile nav styles */
nav {
    font-size: 22px;
}

nav ul {
    display: none; /* Hidden by default */
    flex-direction: column;
    width: 100%;
    list-style-type: none;
}

  /* Displays the hamburger icon for mobile viewport */
  .menu-toggle .bar {
    color: #FEFAE0;
    width: 30px;
    height: 4px;
    margin: 6px 0;
    border-radius: 5px;
    display: block;
    float: right;
}

/* Show the nav links when 'active' class is added */
nav ul.active {
    display: flex;
}

nav li {
    text-align: center;
    margin: 7px 0;
}

nav a {
    text-decoration: none;
    color: #DDA15E;
    font-weight: bold;
    font-size: 22px;
    padding: 10px;
}

nav a:hover {
    color: white;
    text-decoration: none;
    transition: ease-in-out 0.2s;
}

nav .dropdown {
    position: relative;
}

/* Styles for nav dropdown button */
nav .dropbtn {
    background-color: transparent;
    color: #DDA15E;
    padding: 10px;
    font-size: 0.9em;
    border: none;
    cursor: pointer;
}

/* Styles for nav dropdown */
nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #283618;
    min-width: 160px;
    z-index: 1;
    top: 100%;
}

/* Styles for nav dropdown links */
nav .dropdown-content a {
    color: #FEFAE0;
    padding: 10px;
    text-decoration: none;
    display: block;
}

/* Hover effect for nav dropdown sections */
nav .dropdown-content a:hover {
    background-color: #DDA15E;
}

/* Show dropdown when hovering over the portfolio tab */
nav .dropdown:hover .dropdown-content {
    display: block;
}

/* Styles for slogan subheader */
.Subheader {
    background-color: #606C38;
    padding: 5px; 
}

/* Styles for subheader text */
.Subheader h2 {
    margin-left: 10px;
    font-size: 25px; 
    color: #FEFAE0;
    text-shadow: 1px 2px black;
}

/* Styles fpr main body content */
main {
    background-color: #FEFAE0;
    padding: 30px;
    font-size: 18px;
    line-height: 1.6;
}

/* Styles for main h2 */
main h2 {
    font-size: 35px;
    color: #283618;
    margin-bottom: 20px;
}

/* Styles for main p */
main p {
    margin-bottom: 20px;
}

/* Style for main p link */
main p a {
    color: #BC6C25;
    text-decoration: none;
}

/* Hover effect for main p link */
main p a:hover {
    color: #283618;
    text-decoration: none;
    transition: ease-in-out 0.2s;
}

/* Media content section */
.media-content {
    margin-top: 40px;
    text-align: center;
}

/* Video container */
.video-container {
    max-width: 90%; 
    margin: 0 auto; 
}

/* Adds a border to video */
.video-border {
    border: 10px solid #DDA15E; 
    max-width: 100%; 
    height: auto; 
  }

/* Image container */
.image-container {
    text-align: center;
}

/* Adds a border to img */
.image-container img {
    width: 50%; 
    height: auto;
    border: 10px solid #DDA15E;

}

/* Styles for footer */
.Footer {
    background-color: #283618; 
    padding: 20px 0; 
    display: grid;
    /* Center the content in the footer */
    justify-items: center; 
}

/* Styles for footer header */
.Footer h4 {
    font-size: 1.25em; 
    color: #FEFAE0;
    margin-bottom: 20px;
}

/* Styles for footer list */
.Footer ul {
    list-style-type: none;
    display: grid;
    /* Two columns for footer*/
    grid-template-columns: repeat(2, auto); 
    justify-content: center;
    gap: 20px;
}

/* Styles for footer img */
.Footer img {
    max-height: 80px;
}

/* Styles for footer img links */
.Footer li a {
    color: #DDA15E;
    margin: 5px;
}

/* Hover effects for footer img links */
.Footer li a:hover {
    color: #fff;
    text-decoration: none;
    transition: ease-in-out 0.2s;
}

/* Styles for footer p */
.Footer p {
    color: #fff;
    text-align: center;
}

/* Styles for footer p links */
.Footer p a{
    color: #DDA15E  ;
}

/* Hover effects for footer p links */
.Footer p a:hover {
    color: white;
    text-decoration: none;
    transition: ease-in-out 0.2s;
}


#drew-a {
    color: #BC6C25
}

#drew-a:hover {
    color: #606C38;
    text-decoration: none;
    transition: ease-in-out 0.2s;
}

/* Styles for footer img list */
#XLogo,
#faceBookLogo,
#linkedInLogo,
#githubLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styles for footer img */
#XLogo img,
#faceBookLogo img,
#linkedInLogo img,
#githubLogo img {
    border-radius: 10px;
}

#fairy-img {
    width: 100%;
    height:auto;
    display: block;
    margin: 0 auto;
    padding-bottom: 1em;
}

/* Center the main container on the page */
#gnome-main {
    display: flex;
    justify-content: center;
    padding: 20px;
}

/* Gnome card styling */
.gnome-card {
  position: relative;
  width: 90%;
  max-width: 500px;
  height: 450px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Default gnome image */
.gnome-card img#gnome-image {
  position: absolute;
  top: 0;
  width: 180px;
  height: 410px;
  object-fit: contain;
  z-index: 0;
}

/* Carousel container, aligns the images  */
.carousel-container {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
}

/* Style the carousel */
.carousel {
  width: 100%;
  margin-bottom: 10px;
}

/* ALigns the cutsom images in the center of the carousel*/
.carousel-inner {
  text-align: center;
}

.carousel-item img {
  width: 90px;
  height: 90px;
  object-fit: contain;
}

/* Hide carousel arrows if not needed */
.carousel-control-prev, .carousel-control-next {
  background-color: black;
}

/* Background color for section */
.gnome-section{
    background-color: #606C38;
}

/* Background color for different section */
.gnome-section-header {
    background-color: #FEFAE0
}

#gnome-section-p, .portfolio-header p {
    text-align: center;
    color: #FEFAE0;
    font-size: 1.25em;
    margin: 1.5em auto;
    padding: 0 2em;
    max-width: 60em;
    width: 100%;
}

/* Style for the random name section */
.gnome-name, .gnome-purchase {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #FEFAE0;
    display: none;
}

/* Custom styling for gnome name span */
#gnome-name{
    color: #A7BBEC;
    font-weight: bold;
}

/* Button styling */
#submit-btn, #purchase-btn, #resume-btn, #submit{
    display: block;
    margin: 20px auto; 
    padding: 10px 20px; 
    font-size: 16px; 
    font-weight: bold; 
    background-color: #BC6C25; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}

/* Button hover effect */
#submit-btn:hover, #purchase-btn:hover, #resume-btn:hover, #submit:hover {
    background-color: #89023E; 
}

/* Aligns the projects in the center of the screen */
.portfolio-projects{
    text-align: center;
}

/* Styles for header in portfolio h2 */
.portfolio-header h2 {
    color: #FEFAE0;
}

/* Styles for links in portfolio */
.portfolio-projects a {
    color: #DDA15E;
    text-decoration: none;
}

/* Hover styles for links in portfolio */
.portfolio-projects a:hover {
    color:#FEFAE0;
    text-decoration: none;
    transition: ease-in-out 0.2s;
}

/* Accordion Styles */
.accordion .card {
    border: none;
    margin-bottom: 1rem;
    background-color: #FEFAE0; 
    border-radius: 8px;
}

/* Accordion header */
.accordion .card-header {
    background-color: #283618; 
    color: #FEFAE0;
    font-size: 1.2rem;
    padding: 1em;
    border-radius: 8px 8px 0 0;
    border: none;
    text-decoration: none;
}

/* Accordion button inside the header */
.accordion .btn-link {
    color: #DDA15E; 
    text-decoration: none;
}

/* Accordion button text on hover */
.accordion .btn-link:hover {
    color: #FEFAE0; 
    text-decoration: none;
}

/* No underline when the button is focused or clicked and change color */
.accordion .btn-link:focus,
.accordion .btn-link:active {
    color: #FEFAE0; 
    text-decoration: none; 
}

/* Accordion body */
.accordion .card-body {
    background-color: #606C38;
    color: #FEFAE0;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 0 0 8px 8px; 
    text-decoration: none;
}

/* Accordion collapsed state */
.accordion .collapse {
    background-color: #FEFAE0; 
    text-decoration: none;
}


#contact {
    text-align: center;
    width: 90%;  
    margin: 0 auto;  
}

/* Contact email link */
#contact .contact-email-link {
    color: #666600;
    text-decoration: none;
    display: block;
    margin-top: 15px;
}

/* Map Styling */
.map {
    display: block;
    width: 100%; 
    height: 200px;  
    margin: 5px auto;
    border: 5px solid #DDA15E !important; 
}

/* Contact Form */
#form {
    background-color: #606C38;
    color: white;
    padding: 10%; 
    width: 100%;  
    height: auto;
    margin: 0px auto;  
    border-radius: 8px;
}

#form h2 {
    color: white;
    font-size: 1.8em;  
    margin-bottom: 15px;
}

/* Input and textarea styling for mobile */
#form input, #form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #DDA15E;
    background-color: #FEFAE0;
    color: #283618;
    font-size: 1em;
}

#form textarea {
    height: 4.5em;
} 


/* Tablet Media Query */
@media (min-width: 768px) and (max-width: 1024px) {
    header {
        top: -40px;
    }
    
    header h1 {
        font-size: 3.75em;
        display: flex;
        justify-content: space-between;
    }

    .logo {
        width: 2em;
        height: auto;
    }

    
    .video-container {
        max-width: 80%; 
        margin: 0 auto; 
    }

    .image-container img {
        width: 30%; 
        height: auto;
    
    }

    /* Display the nav as grid for tablets */
    nav ul {
        display: grid;
        grid-template-columns: repeat(6, auto);
        gap: 10px;
    }

    nav li a, #portfolio-link {
        font-size: 0.9em;
    }

    .bar, .menu-toggle{
        display: none;
    }

    .Footer h4 {
        font-size: 2em
    }

    .gnome-card {
        width: 100%;
        height: 500px;
    }

    .gnome-card img#gnome-image {
        width: 220px;
        height: 500px;
    }

    .carousel-container {
        width: 90%;
        top: 100px;
    }

    .accordion .card-header {
        font-size: 1.5rem;
    }

    .carousel-item img {
        width: 110px;
        height: 110px;
        object-fit: contain;
      }

      #form {
        width: 80%;
    }

    #form h2 {
        font-size: 2em;
    }

    #form button {
        font-size: 1.3em;
    }

    .map {
        width: 80%;
        height: 300px;  
    }

    #fairy-img {
        width: 40%;
    }
}

/* Desktop Media Query */
@media (min-width: 1024px) {

    header {
        top: -40px;
    }

    header h1 {
        font-size: 4em;
        display: flex;
        justify-content: space-between;
    }
    nav ul {
        display: grid;
        grid-template-columns: repeat(6, auto);
        gap: 10px;
    }

    .logo {
        width: 2em;
        height: auto;
    }

    .video-container {
        max-width: 70%; 
        margin: 0 auto; 
    }

    .image-container img {
        width: 20%; 
        height: auto;
    
    }

    .bar, .menu-toggle{
        display: none;
    }

    nav li a, #portfolio-link {
        font-size: 1.25em;
    }

    .Footer h4 {
        font-size: 35px;
    }

    .gnome-card {
        width: 100%;
        height: 500px;
    }

    .gnome-card img#gnome-image {
        width: 220px;
        height: 500px;
    }

    .carousel-container {
        width: 90%;
        top: 100px;
    }

    .accordion .card-header {
        font-size: 1.7rem;
    }

    .carousel-item img {
        width: 110px;
        height: 110px;
        object-fit: contain;
      }

        /* STYLES RULES CHASE FOR CONTACT */
    
        #form h2 {
            font-size: 2.5em;
        }
    
        #form button {
            font-size: 1.5em;
        }
    
        .map {
            width: 80%;
            height: 400px;  
        }

        #fairy-img {
            width: 30%;
        }
}
